<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  </head>
<div class="navbar-parents">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light"
  >
    <div class="m-lg-2">
      <a class="navbar-brand m-lg-2"  style="font-family: cursive; font-size: 25px; color: aliceblue;" href="#">Mi Portafolio</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarNav"
        style="font-size: 20px;"
      >
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Aptitudes</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link disabled"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              >Disabled</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

  <body class="mt-5 parents">
    <section class="container elemento">
            <div class="card-body d-sm-inline-flex"  style=" font-size: 20px;">
              <img src="/assets/valentin.png" class="imagen" />
              <p
                class="m-4 align-self-md-center">
                Valentin Oliva

                <br />
                Full Stack Developer
                <br />
                <br />
                <br />

                ¡Hola! Soy Valentín, recién egresado en Ingeniería Civil
                Informática de la Facultad de Ciencias Empresariales de la
                Universidad del Bio Bio. Mi objetivo es desarrollar mi carrera
                profesional en la programación de software, formando parte de
                una empresa que me permita aplicar todo lo que he aprendido
                durante mis años de estudios, además de brindarme oportunidades
                para crecer y aprender constantemente. Soy una persona
                autodidacta y creativa. ¡Espero con entusiasmo la oportunidad de
                formar parte de un equipo excepcional y contribuir al éxito de
                la empresa!
              </p>
            </div>
            <div>
              <button class="button">
                <a href="assets/curriculum vitae.pdf" download > Download CV </a>
              </button>
           </div>
           <div>
            <button class="button m-3">
              <a href="assets/certificado.pdf" download > Certificado </a>
            </button>
         </div>
         <div>
          <a href="https://www.linkedin.com/in/valentinolivagonzalez/">
            <svg class="icon m-1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24">
                <path d="M 5 3 C 3.895 3 3 3.895 3 5 L 3 19 C 3 20.105 3.895 21 5 21 L 19 21 C 20.105 21 21 20.105 21 19 L 21 5 C 21 3.895 20.105 3 19 3 L 5 3 z M 5 5 L 19 5 L 19 19 L 5 19 L 5 5 z M 7.7792969 6.3164062 C 6.9222969 6.3164062 6.4082031 6.8315781 6.4082031 7.5175781 C 6.4082031 8.2035781 6.9223594 8.7167969 7.6933594 8.7167969 C 8.5503594 8.7167969 9.0644531 8.2035781 9.0644531 7.5175781 C 9.0644531 6.8315781 8.5502969 6.3164062 7.7792969 6.3164062 z M 6.4765625 10 L 6.4765625 17 L 9 17 L 9 10 L 6.4765625 10 z M 11.082031 10 L 11.082031 17 L 13.605469 17 L 13.605469 13.173828 C 13.605469 12.034828 14.418109 11.871094 14.662109 11.871094 C 14.906109 11.871094 15.558594 12.115828 15.558594 13.173828 L 15.558594 17 L 18 17 L 18 13.173828 C 18 10.976828 17.023734 10 15.802734 10 C 14.581734 10 13.930469 10.406562 13.605469 10.976562 L 13.605469 10 L 11.082031 10 z"></path>
            </svg>
        </a>
         </div>
          </section>
          <div class="container" style="font-family: cursive; font-size: 25px;">
            <p>Proyectos</p>
          </div>
          <section class="container">
            <div class="elemento">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Conversor de UF - CLP</h5>
                  <a [href]="'https://github.com/Likenesio/Conversion.git'">
                    Conversor-Backend</a>
                    <br/>
                    <a [href]="'https://github.com/Likenesio/conversion-front.git'">
                  Conversor-Frontend</a
                >
              </div>
            </div>
          </div>
        <div class="elemento">
          <div class="card">
              <div class="card-body ">
                <h5 class="card-title">Proyecto Biopal</h5>
                <a [href]="'https://github.com/Likenesio/Proyecto-biopal.git'"
                  >Gestión de pedidos</a
                >
              </div>
            </div>
          </div>
    </section>
    <section>
      <div class="container">
        <div class="container" style="font-family: cursive; font-size: 25px;">
          <p>Aptitudes</p>
        </div>

      </div>
    </section>
  </body>
</html>
