@import "~bootstrap/dist/css/bootstrap.css";


.container
{
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  
}

.imagen
{
  max-width: 25%;
  height: auto;
  position: start;
  border-radius: 10px;
}
.elemento {
  background-color: #2b0c59, transparent;
}
.navbar-color
{
  background-color: #2b0c59;
  color: aliceblue;
}
