@import "~bootstrap/dist/css/bootstrap.css";

html{
  background-color: #1b004b;
  max-width: 100%;
  max-height: 100%;
}

p{
  text-align: justify
}
li,a{
  color: aliceblue

}

.parents{
 color: aliceblue
}

.container
{
  margin-top: 5%;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  display:flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.aptitudes{
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  display:flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 1%;

}

.imagen
{
  max-width: 25%;
  height: auto;
  border-radius: 10px;
  flex:1;
  box-sizing: border-box;
  align-self: stretch;
}
.presentacion{
  flex:1;
  padding: 10px;

}
.elemento {
  flex:1;
  padding: 10px;
  align-self: stretch;

}
.navbar-parents
{
  text-align: center;
  justify-content: center;
  display:flex;
  box-sizing: border-box;
}
.button1{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: #8b6cc0;
  color: aliceblue;
  font-size:.85rem ;
  font-family:"Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
  padding:.75em ;
  border-radius:.40em ;
  box-shadow: 10px 5px 5px black;
  box-sizing: border-box;
}
 .icon{
  text-align: center;
  align-items: center;
  flex: 1;
  width: 45%;
  margin: 0;
  height: 50%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  fill: aliceblue;
  border-radius: 18px;
  align-self: stretch;
}
.icon-proyect{
    flex: 1;
    display: flex;
    max-width: 5%;
}

.box-proyect{
  box-shadow: 10px 5px 5px black;
}



@media only screen and (max-width: 768px) {

  .imagen {
    max-width: 100%;
  }
  .elemento {
    flex: 1;
    margin: 20px 0;
  }
  .button {
    width: 95%;
    height: auto;
    margin: 0;
    box-shadow: 10px 5px 5px black;
    align-self: stretch;
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .imagen {
      max-width: 50%;
      max-height: 40%;
    }
    .elemento {
      flex: 1;
      margin: 20px;

    }
    .button {
      width: 95%;
      height: auto;
      margin: 0;
      flex: 1;
      box-shadow: 10px 5px 5px black;
    }
    }

}
