.container
{
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  display:flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex:1;
  text-align: justify;
  white-space: pre-wrap;
}
.imagen
{
  max-width: 25%;
  height: auto;
  border-radius: 10px;
  box-sizing: border-box;
  align-self: stretch;
}

.container-button-icon{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: stretch;
}

.button{
  background-color: #8b6cc0;
  padding:.75em ;
  border-radius:.40em ;
  box-shadow: 10px 5px 5px black;
}

.icon{
  margin: 1vh;
  fill: aliceblue;
  border-radius: 18px;
}

@media only screen and (max-width: 767px) {
.container
{
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  display:flex;
  box-sizing: border-box;
  flex:1;
  padding: 10px;
  text-align: left;
  text-wrap: pretty;

}

  .imagen {
    max-width:35vh;
    align-self: stretch;

  }

  .button1{
    width: 95%;
    height: auto;
    margin: 0;
    box-shadow: 10px 5px 5px black;
    align-self: stretch;
  }
}
@media only screen and (max-width: 767px) {
  .container
{
  margin-top: 10vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  display:flex;
  box-sizing: border-box;
  flex:1;
  padding: 10px;
  text-align: left;
  text-wrap: pretty;

}
}
/*Resolución para Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

  .imagen {
    max-width: 30vh;
    align-self: stretch;

  }

  .button1{
    width: 95%;
    height: auto;
    margin: 0;
    box-shadow: 10px 5px 5px black;
    align-self: stretch;
  }
}

