<section id="proyectos" class="container">
<p style="font-family: cursive; font-size: 25px">Proyectos</p>
  <div class="box-proyect">
      <div class="card-body">
        <h5 class="card-title">Conversor de UF - CLP</h5>
        <a [href]="'https://github.com/Likenesio/Conversion.git'">
          Conversor-Backend</a
        >
        <br />
        <a [href]="'https://github.com/Likenesio/conversion-front.git'">
          Conversor-Frontend</a
        >
      </div>
      <div class="card-body">
        <h5 class="card-title">Proyecto Biopal</h5>
        <a [href]="'https://github.com/Likenesio/Proyecto-biopal.git'"
          >Gestión de pedidos</a
        >
      </div>
</div>
</section >
